@media print{

    #PrintNumDate{
        color: #ffffff; !important;
        font-family: "Calibri",Calibri,sans-serif; !important;
        font-size: 12px; !important;
        background-color: #92a091; !important;
        margin-left: 15px; !important;
        padding: 10px; !important;
    }

    .navbar-default{
        display: none; !important
        margin : 0px; !important
        visibility: hidden; !important
    }

    body{
        background-color: transparent;
    }

    .table th {
        background-color: #92a091 !important;
        color:white !important;
    }

    #PrintTr{
        background-color: #92a091 !important;
        color:white !important;
    }

    #TitlePage{
        display: none; !important
        margin : 0px; !important
        visibility: hidden; !important
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }

    #PrintLogo{
        height: 73px;
        width: 237px;
    }

}