
body {
    background-color: rgb(36,52,71);
}



/*navbar + sidebar*/

.nav > li > a {
    color: #ffffff;
    text-decoration: none;
}

.nav > li > a:focus{
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.nav > li > a:hover {
    background-color: #ffffff80;
    color: #000000;
    text-decoration: none;
}

.nav li.active > a {
    background-color: #eeeeee63;
    color: #000000;
    text-decoration: none;
}

#navbartop {
    margin-bottom: 0;
    color:white;
}

.transparent {
    background-color: transparent;
}

.sidebar ul li a.active {
    background-color: #eeeeee63;
    color:#000000;
    pointer-events: none;
    cursor: default;
}

.navbar-default {
    border-color: #e7e7e71a;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e71a;
}

#side-menu>li>a>i{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    animation-fill-mode:both;
}

#side-menu>li>a:hover>i{
    margin-left: 15px;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    animation-fill-mode:both;
}

#side-menu>li>a.active:hover>i{
    margin-left: 0px;
}

.nav li.active > a > i {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    animation-fill-mode:both;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000000;
    background-color: #ffffff80 ;
}


/*form*/

textarea {
    resize: vertical;
}


#panelFacture{

}

#panelValider{

}

#rowtableau{
    margin-left: 0px;
    margin-right: 0px;
}

form-control{
    width:initial;
}

textarea.form-control {
    height: 200px;
}

input.currency {
    text-align: right;
    padding-right: 5px;
}

#btnclose {
    position: absolute;
    right: 0px;
}
#formchiffres {
    margin-top: 20px;
}


#LabelForms {
    text-align: right;
    margin: 5px;
}


/*style table*/

.table{
    margin-bottom: 0px;
}

#rowFacture{

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    animation-fill-mode:both;
}

#rowFacture:hover{
    cursor: pointer;
    background-color: #6868681a;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    animation-fill-mode:both;
}

#divTableNav{
    margin-bottom:0px;
    border: 0px solid transparent;
    max-height:600px;
    overflow: auto;
}

#TableNav{
    margin-bottom:0px;
    border: 0px solid transparent;
}

td#actionsTableau:hover{
    cursor : default;
}

#NoBorderTableau{
    border: 0px solid transparent;
    background-color: #eeeeee63;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-size: 14px;
}

#NoBorder{
    border: 0px solid transparent;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    animation-fill-mode:both;
    font-weight: normal;
}

th{
    text-align: center;
    vertical-align: middle;
    border: 0px solid #ddd;
}

tr #NoBorder:hover{
    background-color: ffffff4d;
}

.table-hover > tbody > tr:hover{
    background-color: #ffffff1a;
    cursor: pointer;
}


table-hover > tbody#NoBorder > tr#NoBorder :hover {
    background-color: #9f9f9f33;
}

.table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

td{
    text-align: center;
    vertical-align: middle;
}

/* Impress */

#PrintFactAvoir{
    font-family: "Calibri",Calibri,sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}

#rowHeader{
    margin-bottom: 20px;
}

#rowNoms{
    font-family: "Calibri",Calibri,sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
}

#BoldNames{
    font-family: "Calibri",Calibri,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #d6cd93;
}

#rowDispense{
    font-family: "Calibri",Calibri,sans-serif;
    font-size: 10.5px;
    margin-bottom: 20px;
}

#rowNums{
    margin-bottom: 20px;
}

#PrintNumDate{
    color: #ffffff;
    font-family: "Calibri",Calibri,sans-serif;
    font-size: 12px;
    background-color: #92a091;
    margin-left: 15px;
    padding: 10px;
}

#rowIntitule{
    margin-bottom: 20px;
}

#PrintIntitule{
    font-size: 12px;
}

#PrintTr{
    background-color: #92a091;
    color : #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

#rowTable{
    margin-bottom: 10px;
    cursor: default;
}

#rowInfos{
    font-size: 12px;
}

#PrintEscompte, #PrintPenalite{
    font-size: 10.5px;
}

#PrintTableResponsive{
    border-left: 0px solid;
    border-bottom: 0px solid;
}

#PrintTableGauche{
    border-left: 1px solid #ddd;
}

#PrintTableBas{
    border-bottom: 1px solid #ddd;
}

#PrintTableVide{
    visibility: hidden;
}

#PrintTable > tbody > tr:hover {
    background-color: inherit;
    cursor: default;
}

#PrintLogo{
    height: 100%;
    width: 100%;
}



#PrintFactAvoir{
    font-family: "Calibri",Calibri,sans-serif !important;
    font-size: 26px !important;
    font-weight: bold !important;
    text-align: right !important;
    color: #d6a193 !important;
    text-transform: uppercase;
}

#rowHeader{
    margin-bottom: 20px; !important
}

#rowNoms{
    font-family: "Calibri",Calibri,sans-serif; !important
font-size: 12px; !important
margin-bottom: 20px; !important
}

#BoldNames{
    font-family: "Calibri",Calibri,sans-serif; !important
font-size: 14px; !important
font-weight: bold; !important
color: #d6cd93; !important
}

#rowDispense{
    font-family: "Calibri",Calibri,sans-serif; !important
font-size: 10.5px; !important
margin-bottom: 20px; !important
}

#rowNums{
    margin-bottom: 20px; !important
}

#PrintNumDate{
    color: #ffffff; !important
font-family: "Calibri",Calibri,sans-serif; !important
font-size: 12px; !important
background-color: #92a091; !important
margin-left: 15px; !important
padding: 10px; !important
}

#rowIntitule{
    margin-bottom: 20px; !important
}

#PrintIntitule{
    font-size: 12px; !important
}

#PrintTr{
    background-color: #92a091; !important
color : #ffffff; !important
font-weight: bold; !important
}

#rowTable{
    margin-bottom: 20px; !important
}

#rowInfos{
    font-size: 12px; !important
}

#PrintEscompte, #PrintPenalite{
    font-size: 10.5px; !important
}
